@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 99vh;
    width: 96vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%); /* Para o elemento central ficar sempre no meio da tela, isso está relacionado com o main */

    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 23px;
    width: 265px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img { /* Dentro da section está as redes socias e dentro está a img (imagem) */
    width: 50px;
    margin: 10px; /* Espaço entre os ícones */
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.455);
    box-sizing: border-box; /* A borda faz parte da box */
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.64);
    transform: translate(-3px, -3px); /* Ao passar o mouse sobre os ícones eles levantam */
    box-shadow: 5px 5px 10 rgba(0, 0, 0, 0.599); /* Sombra para os ícones ao subirem */
    transition: transform .5s, border 1s; /* Para fazer o efeito dos ícones subirem bem suave */
}